<main class="container-fluid d-flex flex-column justify-content-center align-items-center w-100">
    @if(responseValidation){
        <div class="card border-0 shadow-sm animate__animated animate__zoomIn">
          <div class="card-body p-4">
            <div class="text-center">
              <h2 class="card-title mb-3">
                Restablecer contraseña
              </h2>
              <h3 class="mb-2 text-primary">
                QUIPUCAMAYOC 2.0
              </h3>
              <p class="text-muted mb-4">
                Sistema Integral de Gestión Gubernamental
              </p>
            </div>
            <form [formGroup]="paswwordNewForm" (ngSubmit)="onSubmit()">
              <!-- Campo para la nueva contraseña -->
              <div class="mb-3 position-relative">
                <label for="newPassword" class="form-label">Nueva Contraseña</label>
                 <div class="input-group">
                   <input type="password" class="form-control" formControlName="newPassword" required  [ngClass]="{'is-invalid':!isValidField('newPassword') }"> 
                    <button class="btn btn-secondary text-light" type="button" (click)="showPassword($event)">
                      <i class="bi bi-eye"></i> 
                    </button>
                 </div>
                 <div class="invalid-tooltip" *ngIf="!isValidField('newPassword')" [ngClass]="{'d-block':!isValidField('newPassword') }">
                  La contraseña no es válida.
                </div>
              </div>
        
              <!-- Campo para confirmar la nueva contraseña -->
              <div class="mb-3 position-relative">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <div class="input-group">
                  <input type="password" class="form-control" formControlName="confirmPassword" required [ngClass]="{'is-invalid':!isValidField('confirmPassword') }">
                  <button class="btn btn-secondary text-light" type="button" (click)="showPassword($event)">
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                <div class="invalid-tooltip" *ngIf="!isValidField('confirmPassword')" [ngClass]="{'d-block':!isValidField('confirmPassword') }">
                  La contraseña no es válida.
                </div>
              </div>
        
              <!-- Mensaje si las contraseñas no coinciden -->
              <small *ngIf="!checkPasswordMatch()" class="text-invalid">
                Las contraseñas no coinciden.
              </small>
              
              <!-- Indicador de seguridad de la contraseña -->
              <nivel-seguridad [password]="paswwordNewForm.controls['newPassword'].value" ></nivel-seguridad>
        
        
              <button type="submit" class="btn btn-primary w-100 mt-1"  [disabled]="paswwordNewForm.invalid || !this.checkPasswordMatch()"><i class="bi bi-lock"></i> Restablecer Contraseña</button>
            </form>
        
            <!-- Reloj con cuenta regresiva -->
            <app-contador [expirationTime]="responseValidation!.formattedExpireddate"></app-contador>
          </div>
          
        </div>
    }
</main>
  