.card{
  max-width: 450px;
  min-width: 450px;
  border-radius: 16px;
}

.btn-recovery-primary{
  background-color: #203152;
  color: white;

}

.btn-recovery-primary:hover{
  background-color: #8f98a8;
  color: white;
}

.is-invalid{
  border-color: #C74949;
}

.is-invalid:focus{
  border-color: #C74949;
}

.text-invalid{
  color: #C74949;
}


@media screen and (max-width: 768px) {
  .card{
    max-width: 100%;
    min-width: 100%;
  }
}



