<main class="container-fluid d-flex flex-column justify-content-center align-items-center w-100">
    @if(!hasHttpError && responseValidation && !codeExpired){
        <div class="card border-0 shadow-sm">
          <div class="card-body p-4">
            <div class="text-center">
              <h2 class="card-title mb-3">
                Restablecer contraseña
              </h2>
              <h3 class="mb-2" style="color: #203152;">
                QUIPUCAMAYOC 2.0
              </h3>
              <p class="text-muted mb-4">
                Sistema Integral de Gestión Gubernamental
              </p>
            </div>
            <form [formGroup]="paswwordNewForm" (ngSubmit)="onSubmit()">
              <!-- Campo para la nueva contraseña -->
              <div class="mb-3">
                <label for="newPassword" class="form-label">Nueva Contraseña</label>
                 <div class="input-group">
                   <input type="password" class="form-control" formControlName="newPassword" required  [ngClass]="{'is-invalid':!isValidField('newPassword') }"> 
                    <button class="btn btn-outline-secondary" type="button" (click)="showPassword($event)">
                      <i class="bi bi-eye"></i> 
                    </button>
                 </div>
                <span *ngIf="!isValidField('newPassword')" class="text-danger">
                  El campo debe contener al menos 8 caracteres incluyendo letras, números y símbolos.
                </span>
              </div>
        
              <!-- Campo para confirmar la nueva contraseña -->
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                <div class="input-group">
                  <input type="password" class="form-control" formControlName="confirmPassword" required [ngClass]="{'is-invalid':!isValidField('confirmPassword') }">
                  <button class="btn btn-outline-secondary" type="button" (click)="showPassword($event)">
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                <span *ngIf="!isValidField('confirmPassword')" class="text-danger">
                  El campo debe contener al menos 8 caracteres incluyendo letras, números y símbolos.
                </span>
              </div>
        
              
              <!-- Indicador de seguridad de la contraseña -->
              <nivel-seguridad [password]="paswwordNewForm.controls['newPassword'].value" ></nivel-seguridad>
        
        
              <!-- Mensaje si las contraseñas no coinciden -->
              <small *ngIf="!checkPasswordMatch()" class="text-danger">
                Las contraseñas no coinciden.
              </small>
        
              <button type="submit" class="btn btn-primary w-100 mt-1"  [disabled]="paswwordNewForm.invalid"><i class="bi bi-lock"></i> Restablecer Contraseña</button>
            </form>
        
            <!-- Reloj con cuenta regresiva -->
            <app-contador [expirationTime]="responseValidation!.formattedExpireddate"></app-contador>
          </div>
          
        </div>
    }
    @else if (codeExpired){
      <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <p>El código de recuperación ha expirado. Por favor, solicite un nuevo código.</p>
        <hr>
        <p class="mb-0">Si el problema persiste, comuníquese con el administrador del sistema.</p>
      </div>
    }
    
</main>
  